:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --light-background: #e9ecef;
  --dark-gray: #212529;
  --white: #ffffff;
  --black: #000000;
  --usu-blue: #0f2539;
  --sky-blue: #1E88E5;
  --light-sky-blue: #64B5F6;
  --medium-gray: #6c757d;
  --light-gray: #dee2e6;
  --success-green: #4CAF50;
  --error-red: #D32F2F;
  --charcoal: rgb(30, 30, 30);
  --paper-shadow: 0px 1px 3px rgba(0,0,0,.24), 0px 1px 3px rgba(0,0,0,.12);
  color: var(--dark-gray);
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--light-background);
}

h1 {
  font-size: 2.4em;
  margin: 0;
}

h2 {
  font-size: 1.2em;
  margin: 0;
}

h3 {
  font-size: 1em;
  margin: 0;
}

h4 {
  font-size: .8em;
}

pre {
  margin: 0;
}

#root {
  /* height: 100%; */
}

.scrollbar.vertical, .scrollbar.horizontal {
  z-index: 0 !important;
}

.home-container {
  font-family: 'Arial', sans-serif;
  color: #333;
}

.banner {
  background-color: #4a90e2;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.banner-title {
  margin: 0;
  font-size: 2.5em;
  color: #fff;
}

.banner-buttons {
  display: flex;
}

.banner-link {
  margin-left: 10px;
  text-decoration: none;
}

.banner-button {
  padding: 10px 20px;
  font-size: 1em;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.banner-button:hover {
  background-color: #0056b3;
}

.description {
  padding: 40px 20px;
  text-align: center;
  background-color: #f8f9fa;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

.description-title {
  font-size: 2em;
  color: #333;
}

.description-text {
  font-size: 1.2em;
  color: #666;
  max-width: 600px;
  margin: 20px auto;
}

.try-now-link {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1em;
  color: #fff;
  background-color: #28a745;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.try-now-link:hover {
  background-color: #218838;
}

/* .signin-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f5f5f5;
}

.signin-form {
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.signin-title {
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
  color: #333333;
}

.signin-input-group {
  margin-bottom: 1rem;
}

.signin-input {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #cccccc;
  border-radius: 4px;
  font-size: 1rem;
}

.signin-button-group {
  margin-top: 1.5rem;
}

.signin-button {
  width: 100%;
  padding: 0.75rem;
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
}

.signin-button:hover {
  background-color: #0056b3;
}

.signin-footer {
  margin-top: 1rem;
  font-size: 0.875rem;
  color: #666666;
}

.signin-link {
  color: #007bff;
  text-decoration: none;
}

.signin-link:hover {
  text-decoration: underline;
}

.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f5f5f5;
}

.signup-form {
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.signup-title {
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
  color: #333333;
}

.signup-input-group {
  margin-bottom: 1rem;
}

.signup-input {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #cccccc;
  border-radius: 4px;
  font-size: 1rem;
}

.signup-button-group {
  margin-top: 1.5rem;
}

.signup-button {
  width: 100%;
  padding: 0.75rem;
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
}

.signup-button:hover {
  background-color: #0056b3;
}

.signup-footer {
  margin-top: 1rem;
  font-size: 0.875rem;
  color: #666666;
}

.signup-link {
  color: #007bff;
  text-decoration: none;
}

.signup-link:hover {
  text-decoration: underline;
} */

.auth-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f5f5f5;
}

.auth-form {
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  text-align: center;
  margin-bottom: 1rem;
}

.auth-title {
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
  color: #333333;
}

.auth-input-group {
  margin-bottom: 1rem;
}

.auth-input {
  width: calc(100% - 1.5rem); /* Adjust width to ensure centering */
  padding: 0.75rem;
  border: 1px solid #cccccc;
  border-radius: 4px;
  font-size: 1rem;
  margin: 0 auto; /* Center the input fields */
}

.auth-button-group {
  margin-top: 1.5rem;
}

.auth-button {
  width: 100%;
  padding: 0.75rem;
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
}

.auth-button:hover {
  background-color: #0056b3;
}

.auth-footer {
  font-size: 0.875rem;
  color: #666666;
  text-align: center; /* Ensure footer text is centered */
}

.auth-link {
  color: #007bff;
  text-decoration: none;
}

.auth-link:hover {
  text-decoration: underline;
}